/* header style */
header{
    background: #fff;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.329);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
}
header .logo{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: #fc8445;
    font-size: 20px;
}
header ul.nav{
    display: flex;
    align-items: center;
    list-style-type: none;
}
header ul.nav li a{
    display: inline-block;
    color: #000;
    text-transform: capitalize;
    font-weight: 500;
    margin-right: 20px;
    text-decoration: none;
}
/* diet section style */
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.diet-section{
    width: 90%;
    margin: auto;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.diet-section .left-side-content h1,
.about .right-about-content h1{

    text-transform: capitalize;
    font-size: 50px;
    font-weight: 700;
    color: #575757;
}
.diet-section .left-side-content h1 span{
    color: #fe4b2e;

}
.diet-section .left-side-content p{
    color: #828282;
    font-size: 16px;
    line-height: 26px;
    width: 50%;
}
.diet-section .left-side-content button,
.about .right-about-content button{
    background: linear-gradient(120deg,#fe4b2e,#fc8f49);
    padding: 20px 40px;
    border-radius: 30px;
    border: none;
    color: #fff;
    text-transform: capitalize;
    font-size: 16px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.233);
}
.half-width{
    width: 50%;
}
/* about section style */
.about{
    background: url(images/shapes/7.png);
    padding: 50px 100px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-about-img img{
    width: 60%;

}
.about .right-about-content p{
    width: 50%;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 100px;
}
.about .right-about-content{
    margin-left: 50px;
}

.recipies{
    padding: 50px 150px;
    background: url(images/shapes/Frame\ 57.jpg);
    background-size: cover;
}
.recipies .recipies-header{
    text-align: center;
    margin-bottom: 30px;
}
.recipies .recipies-header h1{
    text-transform: capitalize;
    font-size: 25px;
    color: #828282;
}
.recipies .recipies-header p{
    font-size: 17px;
    color: #828282;
    width: 30%;
    margin: 0 auto;
}
.recipies-contents{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.recipies-box{
    width: 400px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.137);
    padding: 20px;
    border-radius: 30px;
    height: 460px;
}
.recipies-box img{
    width: 100%;
    height: 300px;
}
.recipies-box h3{
    text-transform: capitalize;
    font-weight: 700;
}
.recipies-box p{
    font-size: 15px;
    width: 75%;
    line-height: 25px;
}
/* popularity section style */

.popularity{
    width: 1170px;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
    padding: 20px 0;
    border-radius: 20px;

}
.popularity div{
    text-align: center;
}
.popularity div p{
    text-transform: capitalize;
}
/* footer section style */
 footer{
     background: #000;
     text-align: center;
     padding: 20px 0 100px 0;
 }
 footer h1{
     color: #5b5b5b;
     font-size: 50px;
     text-transform: uppercase;
 }
 footer h1 span{
     color: #fc8445;
 }
 footer p{
     color: #fff;
 }
 /* booking section */
 .booking-section{
     text-align: center;
     padding: 50px 0;
     background: url(images/food/Project\ Cover4.png);
 }
 .booking-section h1{
     font-size: 40px;
     text-transform: capitalize;
     color: #fff;
 }
 .booking-section h1 span{
     color: #fe4b2e;
 }
 .booking-section form{
     display: flex;
     align-items: center;
     flex-direction: column;
     width: 400px;
     margin: auto;
 }
 .booking-section form input{
     width: 100%;
     margin-bottom: 10px;
     padding: 15px 25px;
     border: 1px solid #5b5b5b;
     border-radius: 10px;
     background:#ffffff;
 }
 .booking-section form button{
     padding: 15px 30px;
     border-radius: 30px;
     background: linear-gradient(120deg,#fe4b2e,#fc8f49);
    border: none;
    color: #fff;
    text-transform: capitalize;
    }